
html{
   /*background-color: rgba(63, 70, 74, 0.69)*/
   background: radial-gradient(#BCC2C4, #4890B3, #222424);
}
@keyframes changer{
    from { color: white;}
    to {color: rgba(246,200,18,1); }
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    background: -webkit-linear-gradient(left, #0650C1, #5899FA);
    border-color: black;
    border-style: solid;
    border-right-width: 25px;
    color:white;
    animation-name: changer;
    animation-duration: .3s; 
    animation-iteration-count: 10;
    animation-direction: alternate;
}
main{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;    
}

ul{
list-style-type: none;
}
button{
    
    /*background-color: rgba(9,86,209,1);*/
    background: -webkit-linear-gradient(left,#0650C1, #5899FA); 
    color: rgba(246,200,18,1);
    border-style: solid;
    border-right-width: 25px;
    border-color: #000000;
    width:180px;
    padding: 32px 16px;
    display: block;
    font-size: 15px; 

}
h2{
    display: flex;
    justify-content: center;
    color: rgba(246,200,18,1);
    background: -webkit-linear-gradient(left,rgba(9,86,209,1), #5899FA);
    width:150px;
    height:90px;
    font-size: 25px; 
    border-style: solid;
    border-color: black;
    border-right-width: 25px;
}
footer{
    padding-top: 150px;
    text-align: center;
}
span{
    display: inline-block;
    padding:0 10px;
    font-size: 30px;
    font-weight: bolder;    
}